<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>TimeToAnswer</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'site' %>
    
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <h3 class="masthead-brand">Time To Answer</h3>
      <header class="masthead mb-auto">
      
        <div class="inner ">
          
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <% unless user_signed_in? %>
              <%= link_to 'Entrar', new_user_session_path, class:"nav-link" %>
              <%= link_to 'Cadastrar-se' , new_user_registration_path, class:"nav-link" %>
            <% else %>
            <li class="nav-item dropdown nav-link active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <% end %>
          </nav>
          
        </div>
        
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">LAYOUT SITE</h1>
        <p class="lead"> <%= yield %></p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
  </body>
</html>
